# Ignore large model files
models/outputs/
models/outputs_extra/

# Large data / outputs
*.tif
*.tiff
*.nc
*.RData
*.png
*.tif.aux.xml
#*.rds

# R extras
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Unignore certain files
!predictors/**/*.tif
